body {
    background-color: pink;
}

.title {
    color: darkcyan;
    text-align: center;
}

.nav-link {
    background-color: powderblue;
}
.container {
    width: 50%;
    background-color: lightgray;
    border: 2px solid white;

}

h1 {
    padding: 10px;
}


#footer .box-bottom {
    clear: both;
    padding-top: 25px;
    border-top: 1px solid #E6EAEA;
}

#spcaer {
    padding: 20px;
}

#footerQuestion {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: beige;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  body, html {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  .bg-image {
    /* The image used */
    background-image: url(/assets/IMG_7009.JPG);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }