/* Index.html */

body {
    background-color: pink;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}


/* Question!! Center doesnt work */
.nav-link {
    font-style: italic;
    text-align: center;
}


.container  {
    width: 50%;
    margin: auto;
    background-color: lightgray;
    border: 2px solid white;

}

.container-fluid {
  margin: 20px auto;
}

.container-fluid w-75 {
  height: calc(100vh - 180);
}


h1 {
    padding: 10px;
}

.lead {
  text-align: center;
}


    /* Social Media */

    .fa {
      padding-top: 13px;
      font-size: 28px;
      width: 50px;
      height: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.7;
    }
    .fa-github {
      background: black;
      color: white;
    }
    .fa-instagram {
      background: #125688;
      color: white;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }



    .footer-image {
      width: max-content;
      max-height: 65px;
    }


/* aboutme.html */
.card-title {
  background-color:#D1CDCE;
  border-radius: 5px;
  border-width: 3px;;
  color: #520932;
}


.card {
  display: flex;
  margin: auto;
}

.media {
  margin: auto;
  padding-left: 30px;
  border: solid white;
}




/* Portfolio.html */
* {
  box-sizing: border-box;
}


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.content h3 {
  text-align: center;
  color: darkslategrey;
  padding-top: 10px;
  font-family: cursive;
  font-weight: bolder;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}



.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}